<div class="row">
  <section class="main col-md-9">
    <item>
      <div class="row">
        <div class="col-4">
          <h2>Title</h2>
          <img
            src="https://dummyimage.com/847x320/d9d9d9/545454.jpg"
            alt="feature Image"
            style="width:100%"
          />

        </div>

        <div class="col-8"><br />
          <br />
          <div class="row">
            <div class="col-12">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quam. Earum reprehenderit error tempora dignissimos recusandae iusto minima. Totam consequuntur suscipit laudantium excepturi sint, hic cumque eius minus aliquam. Explicabo.
              <br /><br />
              <strong>Price:</strong>
              $ 00.00<br />
              <strong>Category:</strong>
              3<br />
              <strong>Last Updated:</strong>
              03/17/2023
            </div>
          </div>
        </div>
      </div>
    </item>
  </section>

  <aside class="col-md-3">
    <br /><br />
    <h4>Items</h4>

    <ul class="list-group">
      <a href="#" class="list-group-item">Item 1</a>
      <a href="#" class="list-group-item">Item 2</a>
      <a href="#" class="list-group-item">etc...</a>
    </ul>

    <h4>Categories</h4>

    <ul class="list-group">
      <a href="#" class="list-group-item">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">etc...</a>
    </ul>
  </aside>
</div>